<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>参数配置</title>-->
    <!--<link rel="stylesheet" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css"/>-->
    <!--<link rel="stylesheet" href="webjars/jquery-ui/1.12.1/jquery-ui.min.css"/>-->
    <!--<link rel="stylesheet" href="webjars/select2/4.0.5/css/select2.min.css"/>-->
    <!--<link rel="stylesheet" href="static/css/header.css"/>-->
    <!--<script src="webjars/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>-->
    <!--<script src="webjars/popper.js/1.14.1/umd/popper.min.js"></script>-->
    <!--<script src="webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>-->
    <!--<script src="webjars/moment/2.22.2/min/moment.min.js"></script>-->
    <!--<script src="webjars/holderjs/2.9.4/holder.min.js"></script>-->
    <!--<script src="webjars/select2/4.0.5/js/select2.full.js"></script>-->
    <!--&lt;!&ndash;<script src="/aad/xiaoji/js/menus.js"></script>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--<header-->
        <!--class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bd-navbar-111">-->
    <!--<a class="navbar-brand" href="">参数配置</a>-->

    <!--<div class="navbar-nav-scroll">-->
        <!--<ul class="navbar-nav bd-navbar-nav flex-row">-->
            <!--<li class="nav-item">-->
                <!--<a class="nav-link active" href="/abl/index">文件管理系统</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

    <!--<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">-->

    <!--</ul>-->
    <!--&lt;!&ndash;<span class="navbar-text" th:text="${userinfo.name}">&ndash;&gt;-->
    <!--Navbar text with an inline element-->
    <!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--</header>-->
<!--<br/>-->
<!--<br/>-->
<!--<div class="container-fluid">-->
    <!--<div class="row">-->
        <!--<div class="col-12 col-md-9">-->
            <!--<p></p>-->
            <!--<div class="container-fluid">-->
                <!--<div class="row menu-all">-->
                    <!--<table class="table table-sm table-hover table-striped">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th scope="col">#</th>-->
                            <!--<th scope="col">存储空间名称</th>-->
                            <!--<th scope="col">存储空间路径</th>-->
                            <!--<th scope="col">存储方式</th>-->
                            <!--<th scope="col">存储空间访问账号</th>-->
                            <!--<th scope="col">启用</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->

                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; 右边添加菜单 &ndash;&gt;-->
        <!--<div class="col-12 col-md-3">-->
            <!--<p></p>-->
            <!--<form class="supplierForm">-->
                <!--<input type="hidden" id="sId" name="sId">-->
                <!--<input type="hidden" id="showType" name="showType" value="public">-->
                <!--&lt;!&ndash;<input type="hidden" id="subdomain" name="subdomain">&ndash;&gt;-->
                <!--<div class="form-group">-->
                    <!--<label for="projectName">存储空间名称</label>-->
                    <!--<input type="text" class="form-control form-control-sm" id="projectName" name="projectName"-->
                           <!--aria-describedby="nameHelp" placeholder="存储空间名称">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="description">存储空间路径</label>-->
                    <!--<textarea class="form-control" id="description" rows="3" name="description"></textarea>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="companyName">存储方式</label>-->
                    <!--<select class="custom-select" id="companyName">-->
                        <!--<option value="文件存储" selected>文件存储</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="fees">存储空间访问账号</label>-->
                    <!--<input type="text" class="form-control form-control-sm" id="fees" name="fees"-->
                           <!--aria-describedby="prefixHelp" placeholder="存储空间访问账号">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label for="offer">存储空间访问密码</label>-->
                    <!--<input type="password" class="form-control form-control-sm" id="offer" name="offer"-->
                           <!--aria-describedby="nameHelp" placeholder="存储空间访问密码">-->
                <!--</div>-->
                <!--<button type="button" id="supplierSave" class="btn btn-primary">保存</button>-->
                <!--<button type="button" id="supplierDelete" class="btn btn-link">删除</button>-->
                <!--<button type="button" id="clear" class="btn btn-link">清空</button>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</body>-->
<!--<script type="text/javascript">-->
    <!--$(function () {-->

    <!--})-->
<!--</script>-->
<!--</html>-->